body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    font-weight: bold;
    font-size: 30px;
    /* background-color: #a2d2ff; */
    background: linear-gradient(#a2d2ff, #EFB0c9);
    color: #ffffff;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-img{
    width: 300px;
    border-radius: 50%;
    border: 6px solid #EFB0c9;
}
h1, h2, h3, h4, p{
    text-shadow: 0px 0px 1px black;
}
#bday-age{
    background-color: #EFB0c9;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}
#bday-date{
    background-color: #EFB0c9;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px;
}

/* Gifts */

.gift-section{
    margin-top: 100px;
}
.gift-title{
    margin-bottom: 10px;
    margin-top: 100px;
}
.gift-hint{
    margin-top: 0;
}
.gift-img{
    width: 600px;
    height: 600px;
    margin: 20px auto 30px auto;
    border: 6px solid #ffffff;
    border-radius: 10px;
    background-image: url(./images/gold-ribbon-on-pink-background-gift-box-cover-vector-4659249.avif);
    background-size: cover;
}
#gift-img-cheers{
    height: 400px;
}

/* Hovers */

#gift-img-cheers:hover{
    height: 400px;
    background: url(./images/cheers.gif);
    background-size: cover;
}
#gift-img-happy:hover{
    background: url(./images/excited.gif);
    background-size: cover;
}
#gift-img-hot:hover{
    background: url(./images/hot.gif);
    background-size: cover;
    background-position: center;
}
#gift-img-genius:hover{
    background: url(./images/genius.gif);
    background-size: cover;
    background-position: center;
}
#gift-img-badass:hover{
    background: url(./images/badass.gif);
    background-size: cover;
    background-position: center;
}


/* Footer */

#footer{
    width: 800px;
    margin: 100px auto 30px;
    font-style: italic;
}
a{
    color: #ffffff;
}
